/**
 * Syntax highlighting styles
 */
code{
    padding: 1px 4px;
    margin: 0 2px;
    font-size: 90%;
    border-radius: 3px;
    color: #000;
    border: 1px solid #d7d0d2;
    font-family: Consolas, 'Courier New', Monaco, Menlo, "Microsoft YaHei", "Microsoft YaHei Mono", monospace, sans-serif;
}

pre {
    margin: 12px 0;
     padding: 8px 12px;
    //  overflow-x: auto;
     word-wrap: break-word;      /* IE 5.5-7 */
     white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
     white-space: pre-wrap;      /* current browsers */
     > code {
         margin: 0;
         padding: 0;
        font-size: 13px;
        border: none;
     }
}

.highlight  { 
  background: #f8f8ff; 
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 255, 255, 0.25), 0 0 30px rgba(0, 255, 255, 0.2) inset;
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #a09fb3; font-style: italic } /* Comment */
.highlight .err { color: #AA0000; } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #fb3399; font-weight: bold } /* Keyword */
.highlight .l { color: #93a1a1 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #fb3399 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */

.highlight .ch { color: #a09fb3; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #a09fb3; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #9370db } /* Comment.Preproc */
.highlight .cpf { color: #a09fb3; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #a09fb3; font-style: italic } /* Comment.Single */
.highlight .cs { color: #a09fb3; font-weight: bold; font-style: italic } /* Comment.Special */

.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */

.highlight .kc { color: #fb3399; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #fb3399; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #fb3399; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #fb3399 } /* Keyword.Pseudo */
.highlight .kr { color: #fb3399; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */

.highlight .m { color: #cc66ff } /* Literal.Number */
.highlight .s { color: #ffb100 } /* Literal.String */

.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #1e90ff } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #00ced1 } /* Name.Variable */
.highlight .nx { color: #000000 } /* Name.Other */

.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */

.highlight .w { color: #bbbbbb } /* Text.Whitespace */

.highlight .mb { color: #cc66ff } /* Literal.Number.Bin */
.highlight .mf { color: #cc66ff } /* Literal.Number.Float */
.highlight .mh { color: #cc66ff } /* Literal.Number.Hex */
.highlight .mi { color: #cc66ff } /* Literal.Number.Integer */
.highlight .mo { color: #cc66ff } /* Literal.Number.Oct */
.highlight .sa { color: #ffb100 } /* Literal.String.Affix */
.highlight .sb { color: #ffb100 } /* Literal.String.Backtick */
.highlight .sc { color: #ffb100 } /* Literal.String.Char */
.highlight .dl { color: #ffb100 } /* Literal.String.Delimiter */
.highlight .sd { color: #ffb100; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #ffb100 } /* Literal.String.Double */
.highlight .se { color: #ffb100; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #ffb100 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #ffb100 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #ffb100 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */

.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #1e90ff } /* Name.Function.Magic */
.highlight .vc { color: #00ced1 } /* Name.Variable.Class */
.highlight .vg { color: #00ced1 } /* Name.Variable.Global */
.highlight .vi { color: #00ced1 } /* Name.Variable.Instance */
.highlight .vm { color: #00ced1 } /* Name.Variable.Magic */

.highlight .il { color: #cc66ff } /* Literal.Number.Integer.Long */


